{
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"proseWrap": "preserve",
	"quoteProps": "consistent",
	"semi": true,
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"tabWidth": 2,
	"printWidth": 120,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
